:root {
    --content-primary: rgb(76, 79, 105);
    --content-secondary: rgb(108, 111, 133);
    --background: rgb(239, 241, 245);
    --code-background: rgb(230, 233, 239);
    --code-border: rgb(188, 192, 204);
}

.dark {
    --content-primary: rgb(245, 224, 220);
    --content-secondary: rgb(165, 173, 206);
    --background: rgb(39, 25, 56);
    --code-background: rgb(40,44,52);
    --code-border: rgb(245, 224, 220);
}
